Profiles/

*.dat
/Include/Canvas/Canvas.mqh
/Include/ChartObjects/ChartObjectsLines.mqh
/Include/MovingAverages.mqh
/Indicators/Examples/AD.mq5
/Indicators/Examples/ADX.mq5
/Indicators/Examples/ADXW.mq5
/Indicators/Examples/AMA.mq5
/Indicators/Examples/ASI.mq5
/Indicators/Examples/ATR.mq5
/Indicators/Examples/Accelerator.mq5
/Indicators/Examples/Alligator.mq5
/Indicators/Examples/Awesome_Oscillator.mq5
/Indicators/Examples/BB.mq5
/Indicators/Examples/BW-ZoneTrade.mq5
/Indicators/Examples/Bears.mq5
/Indicators/Examples/Bulls.mq5
/Indicators/Examples/CCI.mq5
/Indicators/Examples/CHO.mq5
/Indicators/Examples/CHV.mq5
/Indicators/Examples/ColorBars.mq5
/Indicators/Examples/ColorCandlesDaily.mq5
/Indicators/Examples/ColorLine.mq5
/Indicators/Examples/Custom Moving Average.mq5
/Indicators/Examples/DEMA.mq5
/Indicators/Examples/DPO.mq5
/Indicators/Examples/DeMarker.mq5
/Indicators/Examples/Envelopes.mq5
/Indicators/Examples/Force_Index.mq5
/Indicators/Examples/FrAMA.mq5
/Indicators/Examples/Fractals.mq5
/Indicators/Examples/Gator.mq5
/Indicators/Examples/Gator_2.mq5
/Indicators/Examples/Heiken_Ashi.mq5
/Indicators/Examples/Ichimoku.mq5
/Indicators/Examples/MACD.mq5
/Indicators/Examples/MFI.mq5
/Indicators/Examples/MI.mq5
/Indicators/Examples/MarketFacilitationIndex.mq5
/Indicators/Examples/Momentum.mq5
/Indicators/Examples/OBV.mq5
/Indicators/Examples/OsMA.mq5
/Indicators/Examples/PVT.mq5
/Indicators/Examples/ParabolicSAR.mq5
/Indicators/Examples/Price_Channel.mq5
/Indicators/Examples/ROC.mq5
/Indicators/Examples/RSI.mq5
/Indicators/Examples/RVI.mq5
/Indicators/Examples/StdDev.mq5
/Indicators/Examples/Stochastic.mq5
/Indicators/Examples/TEMA.mq5
/Indicators/Examples/TRIX.mq5
/Indicators/Examples/Ultimate_Oscillator.mq5
/Indicators/Examples/VIDYA.mq5
/Indicators/Examples/VROC.mq5
/Indicators/Examples/Volumes.mq5
/Indicators/Examples/WPR.mq5
/Indicators/Examples/W_AD.mq5
/Indicators/Examples/ZigZag.mq5
/Indicators/Examples/ZigzagColor.mq5
